services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: api_app_prod
    restart: unless-stopped
    working_dir: /var/www/html
    volumes:
      - ./:/var/www/html
      - ./storage:/var/www/html/storage
    environment:
      - APP_ENV=${APP_ENV:-production}
      - APP_DEBUG=${APP_DEBUG:-false}
    networks:
      - web
      - internal
    labels:
      - "traefik.enable=true"
      - "traefik.docker.network=web"
      - "traefik.http.routers.todo-api.rule=Host(`todo.e-api.ru`)"
      - "traefik.http.routers.todo-api.entrypoints=websecure"
      - "traefik.http.routers.todo-api.tls.certresolver=letsencrypt"
      - "traefik.http.services.todo-api.loadbalancer.server.port=9000"

networks:
  web:
    external: true
  internal:
    driver: bridge

